<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Title</title>
    <script>
        function toPage7(curl){
            curl = curl+"?roleId="+$("#roleId").val()+"&roleName="+$("#roleName").val();
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function toPage8(curl){
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function toPage9(curl){
            curl = curl+"?roleId="+$("#roleId").val()+"&roleName="+$("#roleName").val();
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function toPage10(curl,hasNext,getNumber,totalPages){
            if (getNumber + 1 > totalPages){
                curl = curl+"?pageNum="+ getNumber+"&roleId="+$("#roleId").val()+"&roleName="+$("#roleName").val();
            }
            else{
                curl = curl+"?pageNum="+ (getNumber+1)+"&roleId="+$("#roleId").val()+"&roleName="+$("#roleName").val();
            }
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function toPage11(curl,hasPrevious,getNumber){
            curl = curl+"?pageNum="+ (getNumber-1)+"&roleId="+$("#roleId").val()+"&roleName="+$("#roleName").val();
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function openNew2() {
            //获取页面的总高度 宽度
            let scrollHeight = document.documentElement.scrollHeight;
            let scrollWidth = document.documentElement.scrollWidth;
            let mark = document.createElement("div")
            mark.id = "mark";
            mark.style.width = scrollWidth + "px";
            mark.style.height = scrollHeight + "px";
            let login = document.createElement("div")
            login.id = "login"
            login.innerHTML =
                "<body align=\"center\">\n" +
                "<div>\n" +
                "<h1>给角色设置一个权限：</h1>\n" +
                "<input type=\"text\" id=\"roleName2\" name=\"roleName2\" placeholder=\"roleName\" maxlength=\"20\" required=\"required\">\n" +
                "<select id=\"authName\" name=\"authName\">\n" +
                "    <option>请选择</option>\n" +
                "    <option>增加</option>\n" +
                "    <option>删除</option>\n" +
                "    <option>修改</option>\n" +
                "    <option>查询</option>\n" +
                "</select>\n" +
                "<input type=\"submit\" value=\"提交\" onclick='tosave2()' >\n" +
                "</div>\n" +
                "<div>\n"+
                "<button id='close'>关闭</button>\n"+
                "</div>\n" +
                "</body>"
            //获得可视区域的高度宽度
            let clientWidth = document.documentElement.clientWidth;
            let clientHeight = document.documentElement.clientHeight;
            document.body.appendChild(login)
            document.body.appendChild(mark)
            //获取登录框的高度宽度
            let LoginWidth = login.offsetWidth;
            let LoginHeight = login.offsetHeight;
            let leftFixed = (clientWidth - LoginWidth) / 2 + "px"
            let topFixed = (clientHeight - LoginHeight) / 2 + "px"
            login.style.left = leftFixed;
            login.style.top = topFixed;
            let close = document.getElementById("close")
            mark.onclick = close.onclick = function() {
                document.body.removeChild(mark)
                document.body.removeChild(login)
            }
        }
        function test2() {
            openNew2()
        }
        function tosave2(){
            var roleName = $("#roleName2");
            var authName = $("#authName");
            $.ajax({
                url: "/addrole",
                data: {roleName: roleName.val(), authName: authName.val()},
                success: function (result) {
                    console.log(result)
                    reloadThisPage2()
                    document.getElementById("close").click();
                }

            });
        }
        function reloadThisPage2() {
            $("#contentdiv").load("/role",null,function(){/*alert("加载成功")*/});
        }
        function toPageAsk2(curl){
            curl = curl.replace('"','').replace('"','');
            $("#contentdiv").load(curl,null,function(){/*alert("加载成功")*/});
        }
        function deleteByRoleId(roleId){
            var url = "/deleteByRoleId/" + roleId;
            alert("删除成功");
            location.href = url;
        }
        function pitchOn(){
            var check=document.getElementsByName("aa");
            var alc=document.getElementById("bb");
            var txt=document.getElementsByClassName("cc");
            var isd = alc.checked;
            if(isd){
                txt[0].innerText="取消全选";
            }else{
                txt[0].innerText="全选";
            }
            for(var i=0;i<check.length;i++){
                check[i].checked=isd;
            }
        }
        function delArc2(){
            var ids=[] ;
            $('input[name="aa"]:checked').each(function(){
                ids.push($(this).attr("id"));
            });
            alert(ids)
            $.ajax({
                url:"/deletess",
                type:"get",
                dataType:"json",
                data:{
                    "fitList":ids.toString()},
                success : function(result) {
                    // 删除成功后刷新页面
                    console.log(result)
                    reloadThisPage2()
                },
                error : function() {
                    alert("请求失败");
                },
                dataType : "text"


            })
        }


    </script>
</head>
<body>
<div align="center">
    <h1>学生管理系统权限控制</h1>
</div>
<div>根据ID搜索：<input type="text" name="roleId" id="roleId" placeholder="roleId" maxlength="20" required="required" ><!--th:value="${userId}"-->
    根据用户名搜索：<input type="text" name="roleName" id="roleName" placeholder="roleName" maxlength="20" required="required"><!--th:value="${userName}"-->
    <input type="button" name="id" value="搜索" onclick="toPage7('/role')">
</div>
<footer class="footer">
    <button id="btn" onclick="test2()">给角色设置权限</button>
</footer>
<div class="tablebox">
    <table align="center" border="1px" cellpadding="10%">
        <thead>
        <tr>
            <th><input type="checkbox" id="bb" onclick="pitchOn()" /><span class="cc">全选</span></th>
            <th>RoleId</th>
            <th>RoleName</th>
            <th>权限</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tr th:each="show:${findRole}">
            <td><input type="checkbox"name="aa" th:id="${show.roleId}"></td>
            <td th:text="${show.roleId}"></td>
            <td th:text="${show.roleName}"></td>
            <td th:text="${show.authorities.size() == 0 ? '无' : show.authorities[0].authorityName}"></td>
            <td><a href="#" th:onclick="toPageAsk2('/updateRoleInfo/[[${show.roleId}]]')">修改</a></td>
            <td><a href='#' th:onclick="toPageAsk2('/deleteByRoleId/[[${show.roleId}]]')" >删除</a></td>
        </tr>
    </table>
</div>
<p>当前<span th:text="${findRole.getNumber()} + 1"></span>页,总<span th:text="${findRole.totalPages}"></span>页 共<span th:text="${findRole.totalElements}"></span>条记录
    <a href="#" th:onclick="toPage9('/role')">首页</a>
    <a href="#" th:onclick="toPage11('/role',[[${findRole.hasPrevious()}]],[[${pageNum}]])">上一页</a>
    <a href="#" th:onclick="toPage10('/role',[[${findRole.hasNext()}]],[[${pageNum}]],[[${findRole.totalPages}]])">下一页</a>
    <a href="#" th:onclick="toPage8('/role?pageNum=[[${findRole.totalPages}]]')">尾页</a></p>
<footer class="footer">
    <button id="btn2" onclick="delArc2()">批量删除</button>
</footer>
</body>
</html>
